@import './dropdown.css';

.combo-box-dropdown-list .list-item {
  line-height: 1.25rem;
  padding: 0 6px;
  cursor: default;
}

.date-picker-dropdown {
  min-width: 230px; 
}

.highlighted.list-item {
  background-color: rgba(0,0,0,.1)
}