.token-mirror {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  bottom: 0;
  z-index: -1;
  line-height: 29px;
  font-size: 13px;
  white-space: pre;
  font-family: Roboto-Regular;
  word-spacing: 2px;
}

.token-mirror  .token-wrapper,
.token-mirror  .whitespace-wrapper {
  display: inline-block;
  height: 100%;
  border: none;
  vertical-align: top;
  box-sizing: border-box;
}

.token-mirror  .token {
  height: 100%;
  position: relative;
  color: black;
  
}

.complete.token-wrapper:not(.multiple-results)  .token.outline:after {
  content: '';
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: -2px;
  right: -2px;
  border-radius: 2px;
  border: solid #ccc 1px;
}

.multiple-results.token-wrapper .token {
  background-image: linear-gradient(45deg, transparent 65%, red 80%, transparent 90%),
  linear-gradient(135deg, transparent 5%, red 15%, transparent 25%),
  linear-gradient(135deg, transparent 45%, red 55%, transparent 65%),
  linear-gradient(45deg, transparent 25%, red 35%, transparent 50%);
  background-repeat: repeat-x;
  background-size: 8px 2px;
  background-position: 0 80%;
}

.complete.token-wrapper .invalid.token {
  background-image: linear-gradient(45deg, transparent 65%, red 80%, transparent 90%),
  linear-gradient(135deg, transparent 5%, red 15%, transparent 25%),
  linear-gradient(135deg, transparent 45%, red 55%, transparent 65%),
  linear-gradient(45deg, transparent 25%, red 35%, transparent 50%);
  background-repeat: repeat-x;
  background-size: 8px 2px;
  background-position: 0 80%;
}

.multiple-results .token.highlighted:after {
  content: '';
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: -2px;
  right: -2px;
  background-color: rgba(0,0,0,.1);
  font-weight: bold;
  border-radius: 3px
}