.jpmuitk-light .Logo {
  --logo-color: var(--grey300);
  --logo-pipe-color: var(--grey60);
}

.jpmuitk-dark .Logo {
  --logo-color: var(--grey70);
  --logo-pipe-color: var(--grey400);
}

.Logo {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.Logo-wrapper {
  display: inline-flex;
}

.Logo-logo {
  fill: var(--logo-color);
  margin: auto;
  stroke: none !important;
  text-align: center;
}

.Logo-appTitle {
  align-self: center;
  color: var(--logo-color);
  position: relative;
}

.Logo-touchDensity {
  font-size: var(typography-size-touch);
}
.Logo-lowDensity {
  font-size: var(typography-size-low);
}
.Logo-mediumDensity {
  font-size: var(typography-size-medium);
}
.Logo-highDensity {
  font-size: var(typography-size-high);
}

.Logo-titlePipe {
  height: 100%;
  border-right: 1px solid var(--logo-pipe-color);
}

.Logo-touchDensity .Logo-titlePipe {
  height: 18px;
  margin: 0 calc(var(--spacing-touch) * 2);
}
.Logo-lowDensity .Logo-titlePipe {
  height: 16px;
  margin: 0 calc(var(--spacing-low) * 2);
}
.Logo-mediumDensity .Logo-titlePipe {
  height: 14px;
  margin: 0 calc(var(--spacing-medium) * 2);
}
.Logo-highDensity .Logo-titlePipe {
  height: 12px;
  margin: 0 calc(var(--spacing-high) * 2);
}
