.hwListItem {
  line-height: var(--list-item-height);
  padding: var(--list-item-padding);
  position: relative;
  cursor: default;
  margin: 0;
}

.hwListItem.hilited {
  background-color: var(--list-hilited-bg);
} 

.hwListItem.selected {
  background-color: var(--list-selected-bg);
  color: white;
}

.hwListItem:focus {
  background-color: rgba(0,0,0,.1)
}
