.list {
  list-style: none;
  margin:0;
  padding:0 1px;
  font-size: .8125rem;
}

.list .list-item {
  line-height: 1.25rem;
  padding: 0 6px;
  cursor: default;
}

.list .list-item.selected {
  background-color: cornflowerblue;
}

.list .list-item:focus {
  outline: none;
}

.list .list-item:hover {
  background-color: rgba(0,0,0,.1)
}

.list-item:focus {
  background-color: rgba(0,0,0,.1)
}
