.Tabstrip {
  align-items: flex-start;
  box-sizing: border-box;
  height: 36px;
  position: relative;
  overflow: hidden;
  display: flex;
}

.Tabstrip .Tabstrip-inner {
  align-items: center;
  background-color: yellow;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.Tabstrip .ActiveIndicator-container {
  bottom: 0;
  position: absolute;
  height: 0px;
  width: 100%;
}

.Tabstrip .ActiveIndicator {
  position: absolute;
  height: 2px;
  background-color: var(--orange700);
  transition: left 0.2s ease;
  bottom: 0;
}

.Tabstrip .tab-add {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 28px;
  justify-content: center;
  width: 28px;
}

.Tabstrip .tab-add:hover {
  background-color: var(--grey40);
}

.Tabstrip .tab-add .icon-path {
  fill: var(--grey300);
  stroke: var(--grey300);
  stroke-width: 1px;
}

.Tabstrip .tab-add .Icon {
  border: none;
  transform: scale(0.66);
  transform-origin: center center;
}
