.Tabstrip {
  align-items: flex-start;
  box-sizing: border-box;
  height: 36px;
  position: relative;
  /* overflow: hidden; */
  display: flex;
}

.Tabstrip .Tabstrip-inner {
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.Tabstrip .ActiveIndicator-container {
  bottom: 0;
  box-sizing: border-box;
  position: absolute;
  height: 1px;
  width: 100%;
  border-bottom: solid 1px var(--grey60);
}

.Tabstrip .ActiveIndicator {
  position: absolute;
  height: 2px;
  background-color: var(--orange700);
  transition: left 0.2s ease;
  bottom: 0;
}

.Tabstrip .row-pillar {
  width: 0;
}
