.Canvas {
  overflow: hidden;
  position: absolute;
  top: 0;
  /* only the scrolling canvas needs the sticky treatment */
  position: sticky;
  display: inline-block;
}

.scrolling.Viewport .Canvas {
  position: static;
}

.Grid.scrolling-x .scrolling.Viewport .Canvas {
  position: sticky;
}

.Canvas.scrollable {
  overflow-x: auto;
  overflow-y: hidden;
}

/* .Grid.scrolling-x .Canvas.scrollable {
} */

.Canvas .canvas-content {
  overflow: hidden;
  position: relative;
}

.scrolling.Viewport .canvas-content {
  transform: none !important;
  position: absolute;
}

.Canvas .ColumnGroupHeader {
  position: relative;
  height: 32px;
  display: none;
}

/* .Grid.scrolling-x .Canvas {
  height: 100% !important;
} */

.Grid.scrolling-x .Canvas .ColumnGroupHeader {
  display: block;
}