.Canvas {
  display: inline-block;
  position: sticky;
  top: 0;
  vertical-align: top;
}

.Canvas .ColumnGroupHeader {
  display: none;
  position: absolute;
  top:0;
}

.Grid.scrolling-x .Canvas .ColumnGroupHeader {
  display: block;
}

.scrolling.Viewport .Canvas {
  position: static;
}

.scrolling.Viewport .Canvas {
  position: static;
}

.Canvas.scrollable {
  overflow-x: auto;
  overflow-y: hidden;
}

.fixed .canvas-content-wrapper {
  overflow: hidden;
}

.scrolling.Viewport .fixed.Canvas .canvas-content {
  transform: none !important;
}

.scrollable .canvas-content {
  position: relative;
}

.scrolling.Viewport .canvas-content {
  transform: none !important;
  position: absolute;
}


