.EditableLabel {
  color: inherit;
  font-size: inherit;
  z-index: 1;
}

.EditableLabel-editing {
  bottom: 0;
  font-weight: var(--uitk-font-weight-regular);
  left: var(--tab-spacing, 0);
  padding: 0;
  position: absolute;
  outline-style: none;
  right: var(--tab-spacing, 0);
  top: 0;
}

.EditableLabel-input {
  outline: none;
}
