.ColumnGroupHeader {
	background: #eaeaea;
	display: inline-block;
	overflow: hidden;
}

.colgroup-header {
	text-align: center;
	border-right: solid 1px var(--grid-heading-border-color);
	line-height: 24px;
}

.colgroup-header:not(.bottomless) {
	border-bottom: solid 1px var(--grid-heading-border-color);
}
