

.Tabstrip.overflowing {
  padding-right: 24px;
}


.Tabstrip .tabstrip-inner.resizeable .Tab {
  transition: width .4s linear;
}

.TabstripOverflow {
  position: absolute;
  right:0;
  top:0;
  bottom:0;
  width: 24px;
  color: black;
  background-color: #ddd;
}

.TabstripOverflow:before {
	content :'V';
	position: absolute;
	left:9px;
	top:10px;
	font-size: 13px;
	width: 16px;
	height: 100%;
}

.TabstripOverflow:hover {
	background-color: rgba(255,255,255,0.3);
}
