.scrollable {
  overflow: hidden;
}

/* this grows in response to size of token mirror */
.scrollable .scrolling-container {
  min-width: calc(100% - 3px);
  display: inline-block;
  position: absolute;
  right: 0;
  top:0;
  bottom:0;
  transition: right .5s;
}
