.InlineFilter {
	background-color: white;
}

.InlineFilter .filter-clear-button {
	flex: 0 0 18px;
	cursor: pointer;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	color: #888;
}
