
.icon {
  font-family: 'Material Icons', serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.calendar {
  --selected-day-color: #fff;
  --selected-day-bg: #1a8fff;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;

  display: block;
  position: relative;
  width: 100%;
  background: var(--neutral-color);
  border: 1px solid var(--border-color);
  font-size: .75rem;
}

.calendar .calendar-row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
}

.calendar .calendar-header {
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 1px solid var(--border-color);
  line-height: 2rem;
}

.calendar .calendar-header .icon {
  cursor: pointer;
  transition: .15s ease-out;
  flex: 0 0 12px;
  padding: 4px 0;
}

.calendar .calendar-header .icon:hover {
  transform: scale(1.75);
  transition: .25s ease-out;
  color: var(--main-color);
}

.calendar .calendar-header .icon:first-of-type {
  margin-left: 1em;
}

.calendar .calendar-header .icon:last-of-type {
  margin-right: 1em;
}

.calendar .calendar-header .current-month {
  flex: 1 1 0;
  text-align: center;
}

.calendar .days {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--text-color-light);
  font-size: 70%;
  padding: .75em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .calendar-row {
  border-bottom: 1px solid var(--border-color);
}

.calendar-body {
  overflow: hidden;
  transition: height .2s;
}

.calendar-body.weeks-in-month-5 {
  height: 142px;
}

.calendar-body.weeks-in-month-6 {
  height: 170px;
}

.calendar-body-inner-container {
  margin-top:0;
}

@keyframes slideup-4 {
  to { margin-top: -113px; }
}

@keyframes slideup-5 {
  to { margin-top: -142px; }
}

@keyframes slidedown {
  to { margin-top: 0%; }
}

.other-weeks-leading-4 .calendar-body-inner-container {
  animation: slideup-4 .2s forwards;
}
.other-weeks-leading-5 .calendar-body-inner-container {
  animation: slideup-5 .2s forwards;
}

.other-weeks-trailing-4 .calendar-body-inner-container {
  margin-top: -113px;
  animation: slidedown .2s forwards;
}

.other-weeks-trailing-5 .calendar-body-inner-container {
  margin-top: -142px;
  animation: slidedown .2s forwards;
}

.calendar .calendar-body .row:last-child {
  border-bottom: none;
}

.calendar .calendar-cell {
  flex-grow: 0;
  flex-basis: calc(100%/7);
  box-sizing: border-box;

  display: flex;
  align-items: stretch;
  justify-content: center;


  border-right: 1px solid var(--border-color);
  overflow: hidden;
  cursor: default;
}

.calendar .calendar-days .calendar-cell {
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
}

.calendar .calendar-cell:hover {
  background-color: inherit;
}

.calendar .calendar-body .selected {
  background-color: var(--selected-day-bg);
  color: var(--selected-day-color);
}

.calendar .calendar-cell:last-child {
  border-right: none;
}

.calendar .calendar-cell .calendar-day {
  line-height: 1.75rem;
}

.calendar .calendar-body .otherMonth,
.calendar .calendar-body .disabled {
  color: var(--text-color-light);
  pointer-events: none;
}
