.filter-toolbar {
  cursor:pointer;
  background-color: white;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  align-items: stretch;
}


.filter-toolbar .search-text {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  border: none;
}

.filter-toolbar .filter-button .material-icons {
    position: relative;
    top: 0px;
    left: 1px;
}
