.command-suggestions {
  --suggestions-bg: #fff;
  --suggestions-color-primary: #333; 

  flex: 1 1 auto;
  max-height: calc(var(--command-bar-max-height) - var(--speedbar-height));
  overflow-y: auto;
  overflow-x: hidden;
  padding: 3px 0 4px 0;
  margin-top: 1px;
  background-color: var(--suggestions-bg);
  color: var(--suggestions-color-primary);
  border-top: solid 1px #ccc;
}

.command-suggestions-message {
  font-size: 12px;
  display: flex;
  align-items: center;
}

.command-suggestions-error-message {
  color: red;
}

.command-suggestions-error-icon {
  color: red;
  font-size: 16px;
  margin-right: 6px;
}

.command-suggestions-unresolved-search {
  font-size: 13px;
}