.PlaceHolder {
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
}

.PlaceHolder .close {
	position: absolute;
	width: 32px;
	height: 32px;
}

.Tower > .LayoutItem > .PlaceHolder .close {
	left : calc(50% - 16px);
}

.Terrace > .LayoutItem > .PlaceHolder .close {
	top : calc(50% - 16px);
}

.Tower > .LayoutItem:first-child > .PlaceHolder .close {	bottom:0;} 
.Tower > .LayoutItem:last-child  > .PlaceHolder .close { top:0;} 
.Terrace > .LayoutItem:first-child > .PlaceHolder .close {	right:-2px;} 
.Terrace > .LayoutItem:not(:first-child) > .PlaceHolder .close { left:0;} 

.Tower > .LayoutItem > .PlaceHolder .close > span,
.Terrace > .LayoutItem > .PlaceHolder .close > span {
	position: absolute;
	font-size: 16px;
	color: white;
	cursor:pointer;
}

.Tower > .LayoutItem > .PlaceHolder .close > span:hover,
.Terrace > .LayoutItem > .PlaceHolder .close > span:hover {
	text-decoration: underline;
}

.Tower > .LayoutItem > .PlaceHolder .close:before,
.Terrace > .LayoutItem > .PlaceHolder .close:before {
	color: rgb(26,78,149);
	font-size: 30px;
	position: absolute;
	left: 0
}

.Tower > .LayoutItem:first-child > .PlaceHolder .close > span { top: -18px;	left: -6px; }
.Tower > .LayoutItem:not(:first-child) > .PlaceHolder .close > span { bottom: -15px; left: -6px;}
.Terrace > .LayoutItem:first-child > .PlaceHolder .close > span { top: 6px;	right: 36px; }
.Terrace > .LayoutItem:not(:first-child) > .PlaceHolder .close > span { top: 6px; left: 36px;}


.Tower > .LayoutItem:first-child > .PlaceHolder .close:before {	content: "\e61d";	bottom:0; } 
.Tower > .LayoutItem:not(:first-child) > .PlaceHolder .close:before { content: "\e61f"; top:0; } 
.Terrace > .LayoutItem:first-child > .PlaceHolder .close:before { content: "\e620";	right:0; } 
.Terrace > .LayoutItem:not(:first-child) > .PlaceHolder .close:before { content: "\e61e"; left:0; } 

