.OrderBook .Viewport {
  border-bottom: solid #ccc 1px;
}

.OrderBook .GridCell.bid {
  background-color: #a3d6a3;
}

.OrderBook .GridCell.ask {
  background-color: #e99f9d;
}

.OrderBook .HeaderCell:first-child,
.OrderBook .GridCell:first-child {
  border-left: solid #ccc 1px;
}


.orderbook-header {
  padding: 6px 6px 3px 6px;
  display: flex;
  height: 100%;
  font-size: 12px;
}

.orderbook-header .col {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.orderbook-header .col:first-child {
  margin-right: auto;
}

.orderbook-header .col:last-child {
  margin-left: auto;
}

.orderbook-header .col .instrument {
  margin-bottom: auto;
}

.orderbook-header .instrument span:not(.label),
.orderbook-header .best-bid-ask,
.orderbook-header .total-vol {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}

.orderbook-header .total-vol {
  text-align: center;
  margin-bottom: auto;
}

.orderbook-header .data-row {
  line-height: 20px;
} 

.orderbook-header .data-row span {
  display: inline-block;
  white-space: nowrap;
}

.orderbook-header .label {
  width: 50px;
  color: #666;
}

.orderbook-header .data-row :last-child {
  text-align: left;
  width: 70px;
}

.orderbook-header .separator {
  margin: 0 3px;
}

.orderbook-header .positive {
  color: green;
}

.orderbook-header .negative {
  color: red;
}