.search-suggestion-suggested-item {
  white-space: nowrap;
  font-size: 13px;
  line-height: 26px;
  overflow: hidden;
}

.search-suggestion-search-col {
  padding: 0 6px;
}
  
.search-suggestion-search-col:last-child {
  width: 99%;
  padding: 0;
}
  
.search-suggestion-search-match {
  color: #888;
}
  
.search-suggestion-selected {
  background-color: #ccc;
}

.cell-container {
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-suggestion-search-col:last-child .cell-container {
  overflow: hidden;
}