.hwChest {
  --hw-drawer-bg: rgba(0, 255, 0, 0.2);
  --hw-drawer-size: 200px;
  --hw-drawer-peek-size: 32px;
  --hw-drawer-transition-duration: 0.4s;
  --hw-drawer-size-neg: calc(var(--hw-drawer-size) * -1);
  background-color: #ccc;
  display: flex;
}

.hwChest-horizontal {
  flex-direction: row;
}

.hwChest-vertical {
  flex-direction: column;
}

.hwChest-content {
  background-color: rgba(255, 0, 0, 0.3);
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hwChest-horizontal .hwChest-content {
  flex-basis: 100vw;
}

.hwChest-vertical .hwChest-content {
  flex-basis: 100vh;
}

