.NumberFilter .filter-chart {
    height: 60px;
    margin: 8px 0;
    border: solid 1px #ccc;
    background-color: white;
}

.NumberFilter .filter-control-row {
    display: flex;
    align-items: stretch;
}

.filter-control-row .input-wrapper {
    flex: 1 1 0;
    padding: 1px;
    background-color: #ccc;
}

.filter-select.filter-control-row .input-wrapper {
    flex: 0 0 60px;
    border-style: none solid solid solid;
    border-color: #ccc;
    border-width: 1px;
    background-color: white;
}

.filter-select.filter-control-row .input-wrapper select {
    width: 100%;
    height: 100%;
    border: none;
    background-color: white;
}

.filter-select.filter-control-row .input-wrapper:last-child {
    margin-left: auto;
}

.filter-control-row .input-wrapper input {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border: none;
    text-align: right;
}

.filter-control-row .input-wrapper:first-child input {
    width: calc(100% - 1px);
    text-align: left;
}

.NumberFilter .filter-row {
    display: flex;
    align-items: center;
}

