
.List .scrollable-content,
.List .scrolling-canvas-container {
    /*background: repeating-linear-gradient(white 0px, white 23px, #9c9c9e 23px, #ECF0F5 24px, #ECF0F5 47px, #CCCCCC 48px);*/
}

.List .scrollable-content::-webkit-scrollbar-track {
    border-color: white;
    border-radius: 0;
    background-color: white;
}

.List .ListItem {
    position: absolute;
    height: 23px;
    line-height: 22px;
    cursor: pointer;
    background-color: white;
}

.List .ListItem > span {
    margin-left: 6px;
}

.List .in-use.ListItem:nth-child(odd) {
  background-color: #cff0fd;
}

.List .in-use.ListItem:nth-child(even) {
 /* color: #63cef6;*/
 background-color: #b9ecff;

}

.ListItem .label.check-select {
    display: block;
    height: 100%;
    width: 23px;
    background-color: #ccc;
}

.ColumnFormatter {
    position: absolute;
    top:60px;
    left: 0;
    right:0;
    bottom:0;
}

.Tower,
.LayoutItem {
    border-style: solid;
    border-color: white;
    border-width:0;
}

.ControlPanel .rect-Splitter,
.ControlPanel .LayoutItem,
.ControlPanel .Tower {
    background-color: #504848;
}

.ControlPanel .Tower > header,
.ControlPanel .rect-component header {
    background-color: white;
    color: #555;
    font-size: 12px;
    border-bottom:solid 1px #555;
    box-sizing: border-box;
}

.ControlPanel .ListItem {
    font-size: 12px;
}
