
.speedbar {
  --speedbar-height: 29px;
  flex: 0 0 29px;
  background-color: var(--aurora-desktop-launcher-speedbar-bg);
  border-radius: 0 4px 0 0;
  font-size: .975rem;
}

.speedbar-outer-container {
  height: var(--speedbar-height);
  display: flex;
  align-items: center;
  position: relative;
}

.speedbar-outer-container .speedbar-action-command {
  background-color: blue;
  color: white;
}

.speedbar-outer-container .speedbar-window-command {
  background-color: blue;
  color: white;
}

.speedbar-command {
  flex: 0 0 100px;
  box-sizing: border-box;
  line-height: 23px;
  padding: 0 3px;
  border-radius: 2px;
}

/* this constrains the size of the speedbar */
.speedbar .speedbar-inner-container {
  height: var(--speedbar-height);
  flex: 1 1 auto;
  position: relative;
  z-index: 0;
}

/* this is set to 100% of scrolling container, so should equal the token mirror */
.speedbar-input {
  -webkit-app-region: no-drag;
  width: 100%;
  line-height: 29px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 13px;
  padding-left: 6px;
  white-space: pre;
  font-family: Roboto-Regular;
  word-spacing: 2px;
  box-sizing: border-box;
  }

.speedbar-message-container {
  flex: 0 0 22px;
  color: red;
  font-weight: bold;
  padding: 0 12px;
  }

  
 .speedbar-outer-container .aurora-loading {
    position: absolute;
    right: 12px;
  }
 .speedbar-outer-container .speedbar-command-success {
    position: absolute;
    right: 6px;
    top: 7px;
    color: green;
    display: flex;
    align-items: center;
    font-size: llpx;
  }
.speedbar-command-hint {
    color: #888;
    font-size: 12px;
    position: absolute;
    right: 6px;
    top: 7px;
    width: 60px;
    text-align: right;
}
.speedbar-success-icon {
  font-size: 15px;
  margin-right: 3px;
  color: green;
}

.speedbar-error-icon {
  position: absolute;
  right: 6px;
  top: 4px;
  width: 20px;
  height: 20px;
  color: red;
  font-size: 21px;
  cursor: pointer;
}

.speedbar-command-prefix {
  color: black;
  margin-left: 3px;
  text-transform: capitalize;
}