.simple-list .GridRow.selected:first-child,
.simple-list .GridRow:not(.selected) + .GridRow.selected {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.simple-list .GridRow.last-selected {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
