
.SetFilter .filter-toolbar .mass-select {
    flex: 0 1 100px;  
    text-align: center;  
    line-height: 25px;
    border-left: solid 1px #ccc;
}

.filter-count-section {
    display: flex;
    align-items: center;
    line-height: 16px;
    color: #666;
}

.filter-count-section .filter-row-counts {
    flex: 1 1 0;
    padding-left: 6px;
}

.filter-row-table {
    display: table;
    width: 100%;
}
.filter-row-table > div  {
    display: table-row;
}

.filter-row-table > div > span  {
    display: table-cell;

}

.filter-count-section .data-row-counts {
    flex: 1 1 0;
    margin-left: auto;
    text-align: right; 
    padding-right: 27px;
}
