.ColumnBearer {
	position: absolute;
	top:0px;
	left:50px;
	width: 126px;
	height: 100%;
	z-index: 150;
	box-shadow: 0 6px 12px rgba(0,0,0,0.275);
  background-color: white;
  overflow: hidden;

}

.ColumnBearer .Header {
  position: relative;
}

.ColumnBearer .HeaderCell {
	background-color: var(--header-cell-highlight-bg);
}
