.GridRow {
	outline: 0;
	height: 23px;
	position:absolute;
	top:0;
	left:0;
  width: 100%;
  white-space: nowrap;
}

.GridRow.even {
	background-color: #f3f3f3;
}

.GridRow.odd {
	background-color: #fdfdfd;
}

.GridRow .virtual-padding {
	display: inline-block;
	height: 100%;
}

/*.GridRow:not(.selected):hover {
	background-color: rgb(120, 120, 120);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
*/

/*
.GridRow.focused:not(.selected) .GridCell:not(.selected),
.GridRow:not(.selected):hover .GridCell:not(.selected),
.GridRow.focused:not(.selected) .GridCell.selected.bool,
.GridRow:not(.selected):hover .GridCell.selected.bool {
	border-right-color: rgb(120, 120, 120);
	border-bottom-color: rgb(120, 120, 120);
} 

.GridRow.focused:not(.selected) .GridCell:first-child,
.GridRow:not(.selected):hover .GridCell:first-child {
	border-bottom-left-radius: 5px;
} 

.GridRow.focused:not(.selected) .GridCell:last-child,
.GridRow:not(.selected):hover .GridCell:last-child {
	border-bottom-right-radius: 5px;
} 
*/
/*.GridRow.focused:not(.selected) {
	background-color: rgb(34, 61, 80);
}
*/

.GridRow.selected {
	background-color: var(--grid-row-selected);
	color: white;
}

/* .GridRow.selected:first-child,
.GridRow:not(.selected) + .GridRow.selected {
	border-top-left-radius: 5px; 
	border-top-right-radius: 5px; 
}

.GridRow.last-selected {
	border-bottom-left-radius: 5px; 
	border-bottom-right-radius: 5px; 
} */
