.Viewport {
  background-color: white;
  /* overflow: hidden !important; */
  position: absolute !important;
  left: 0 !important;
  right:0 !important;
  bottom:0 !important;
  padding:0 !important;

  overflow-x: hidden !important;
  overflow-y: auto !important;
 
}

.Grid.scrolling-x .Viewport {
  overflow-y: hidden !important;
  top: 0 !important;
  height: 100% !important;
}

.scrolling-canvas-container { 
  transform: translate3d(0,0,0);
}

.Viewport.stripes .scrolling-canvas-container {
  background: repeating-linear-gradient(
    white 0px, 
    white 22px,
    var(--grid-cell-border-color) 22px,
    #f3f3f3 23px,
    #f3f3f3 45px,
    white 46px);
}