.Viewport {
  background-color: white;
  bottom:0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding:0;
  position: absolute;
  right:0;
}

.Grid.scrolling-x .Viewport {
  overflow-y: hidden !important;
  top: 0 !important;
}

/* Totally theme and rowHeight dependent */
.Viewport.stripes .scrolling-canvas-container {
  background: repeating-linear-gradient(
    white 0px, 
    white 22px,
    var(--grid-cell-border-color) 22px,
    #f3f3f3 23px,
    #f3f3f3 45px,
    white 46px);
}