.suggestions-tooltip {
  --action-color: orange;
  --window-color: cornflowerblue;

  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  font-size: .8125rem;
  white-space: nowrap;
}

.speedbar-command-prefix {
  white-space: nowrap;
}

.speedbar-window-command .suggestions-tooltip-icon,
.speedbar-action-command .suggestions-tooltip-icon {
  font-size: 1.25rem;
  margin-right: .25rem;
}

.speedbar-window-command .suggestions-tooltip-icon {
  color: var(--window-color);
}

.speedbar-action-command .suggestions-tooltip-icon {
  color: var(--action-color);
}

.suggestions-tooltip-header {
  display: flex;
  flex-flow: row nowrap;
}

.suggestions-tooltip-title {
  flex-grow: 1;
}

.suggestions-tooltip-shortcuts {
  flex-grow: 0;
  font-size: .6875rem;
}

.suggestions-tooltip-suggestions {
  margin: 4px 000;
}

.suggestions-tooltip-suggestion {
  display: flex;
  align-items: center;
  padding: 2px 0;
  cursor: pointer;
}

.suggestions-tooltip-suggestion:hover {
  background-color: #ccc;
}

.suggestions-tooltip-selected {
  background-color: #ccc;
}
