.ColumnFilter .col-header-inner {
    height: 100%;
    line-height: 24px;
    padding-left: 12px;
    box-sizing: border-box;
    border-left: solid 1px black;
    border-bottom: solid 1px black;
    position: relative;
    background-color: var(--header-cell-highlight-bg);
    top:1px;
    z-index: 1;
    color: rgb(51,51,51);
}


.FilterPanel {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
}

.FilterPanel .filter-inner {
    background-color: white;
    box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.52);
}

.FilterPanel .footer {
    display: flex;
    align-items: center;
}

.FilterPanel .footer {
    align-items: flex-end;
}

.FilterPanel .footer {
    display: flex;
    align-items: center;
}

.FilterPanel .footer .filter-done-button {
    margin: 0 3px 0 auto;
}

.FilterPanel .filter-row {
    display: flex;
    align-items: center;
    height: 32px;
}

.FilterPanel button {
    border-radius: 0;
}

.FilterPanel .buttons {
    position: absolute;
    bottom:3px;
    left:3px;
    right:3px;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.FilterPanel .buttons button {
    flex: 1 1 0;
}
