@import './filterPanel.css';

.NumberFilter .filter-chart {
    height: 60px;
    margin: 8px 0;
    border: solid 1px #ccc;
    background-color: white;
}

.NumberFilter .filter-inner {
    background-color: yellow;
}

.NumberFilter .filter-row {
    display: flex;
    align-items: center;
}

