@import './filterPanel.css';

.SetFilter .toolbar {
    cursor:pointer;
    background-color: white;
    border-bottom: solid #ccc 1px;
    box-sizing: border-box;
}

.SetFilter .toolbar .search-text {
    position: relative;
    height: 100%;
    box-sizing: border-box;
    border: none;
}

.SetFilter .toolbar .mass-select {
    flex: 0 1 100px;  
    text-align: right;  
    line-height: 25px;
    border-left: solid 1px #ccc;    
}

.SetFilter .footer .filter-done-button {
    margin: 0 0 0 auto;
}