
.Grid {
	--grid-row-selected: #2b8bf8;
	--grid-heading-border-color: #bbb;
	--grid-cell-border-color: #d4d4d4;

	color: #333;
	font-size: 11px;
	font-family: 'Roboto', sans-serif;
}

.Grid, .Grid div {
	box-sizing: border-box;
	user-select: none;	
}

.Grid .material-icons {
	font-size: 18px;	
	vertical-align: top;
	width: 18px;
}

.Grid .num {
	font-family:arial;
}

.GridCell .flasher { text-align:left; }
.GridCell  .flasher + .num { padding-left: 8px; }

.GridCell.right .flasher { text-align: right;}
.GridCell.right .flasher + .num { padding-right: 8px; }

.Grid .loading-data-message {
	height: 100%;
	width: 100%;
	font-size: 14px;
	vertical-align: middle;
	text-align: center;
} 

.Grid .loading-data-message div {
	top: 50%;
	position: relative;
	margin: -10px auto 0 auto;
	height: 20px;
	line-height: 20px;
	color: white;
}

.Grid .Header {
	position: absolute;
	top:0;
	left:0;
	right:0;
	cursor: default;
}

.Grid .header-cells {
	height: 100%;
}

.Grid.empty .Viewport {
	display: none;
}

.Grid.empty.no-header .Header {
	display: none;
}

.group-heading .InnerHeaderCell {
	font-weight: normal;
}

.CanvasScroller.horizontal {
	position: absolute;
	bottom: 0;
	height: 15px;
	overflow-x: scroll;
	overflow-y: hidden;
	scroll-behavior: smooth;
}

.Canvas::-webkit-scrollbar,
.scrollable-content::-webkit-scrollbar {
	width: 15px;
	height: 15px;
}

.Canvas::-webkit-scrollbar-thumb,
.scrollable-content::-webkit-scrollbar-thumb {
	border: 3px solid rgba(0, 0, 0, 0);
	border-left: 3px solid rgba(0, 0, 0, 0);
	border-right: 3px solid rgba(0, 0, 0, 0);
	background-clip: content-box;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	background-color: rgb(204, 204, 204);
	width: 12px;
}

.Canvas::-webkit-scrollbar-track,
.scrollable-content::-webkit-scrollbar-track {
	border: 3px solid rgba(0, 0, 0, 0);
	border-left: 3px solid rgba(0, 0, 0, 0);
	border-right: 3px solid rgba(0, 0, 0, 0);
	background-clip: content-box;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	width: 12px;
}

.Canvas::-webkit-scrollbar-corner,
.scrollable-content::-webkit-scrollbar-corner {
	background-color: rgb(30, 30, 30);
}

.Editor input[type='text'],
.Editor .CheckBox {
	font-size: 12px;
	line-height: 18px;
	display: block;
	height: 100%;
	width: 100%;
	border: none;
	font-family: arial, verdana, sans-serif;
}

.Editor input[type='text'] {
	padding: 0 6px 0 4px;
}

.Editor .CheckBox:before {
	border-color: rgb(82, 146, 247);
}


.Gutter .GroupHeader {
	background-color: white;
}

.filter-button {
	flex: 0 0 18px;
	cursor: pointer;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	color: #888;
}

.filter-active .filter-button {
	color: black;
}

.filter-clear-button .material-icons {
	font-size: 14px;
}

.checkbox-list .GridRow.selected {
	background-color: inherit;
	color:inherit;
}

.checkbox-list .GridCell {
	padding-left: 0;
}
.checkbox-list .GridCell:not(:last-child) {
	border-right:none;
}

.checkbox-list .GridRow.even:not(.selected) {
	background-color: inherit;
}