.hwTabstrip {
  --hw-tabstrip-height: 36px;
  --hw-tab-spacing: 4px;

  align-items: flex-start;
  box-sizing: border-box;
  font-family: Roboto;
  height: var(--hw-tabstrip-height);
  position: relative;
  overflow: hidden;
  display: flex;
  min-width: 28px;
}

.hwTabstrip-addButton,
.hwTabstrip-overflowMenu {
  margin-left: var(--hw-tab-spacing);
}

.hwTabstrip-inner {
  width: 100%;
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.hwTabstrip-vertical {
  align-self: flex-start;
  display: inline-flex;
}

.hwTabstrip-vertical .hwTabstrip-inner {
  flex-direction: column;
  height: auto;
}

.hwTabstrip-centered .hwTabstrip-inner {
  justify-content: center;
}
