.jpmuitk-light .Input {
  --input-text: var(--grey900);
  --input-selection-background: var(--blue30Fade);
}

.jpmuitk-dark .Input {
  --input-text: var(--white);
  --input-selection-background: var(--blue700Fade);
}

.Input {
  align-items: center;
  box-sizing: border-box;
  color: var(--input-text);
  cursor: text;
  display: inline-flex;
  letter-spacing: 0;
  position: relative;
}

.Input-focused {
  outline-color: var(--focusable-outline-color);
  outline-style: var(--focusable-outline-style);
  outline-width: var(--focusable-outline-width);
  outline-offset: var(--focusable-outline-offset);
}

.Input-input {
  background: none;
  border: 0;
  box-sizing: content-box;
  color: inherit;
  display: block;
  flex: 1;
  font: inherit;
  letter-spacing: inherit;
  margin: 0;
  min-width: 0;
  overflow: hidden;

  padding: 0;
  height: 100%;
}

.Input-input::selection {
  background-color: var(--input-selection-background);
}

.Input-touchDensity {
  font-size: var(---typography-size-regular-touch);
  min-height: var(--size-regular-touch);
  padding: 0 var(--spacing-touch);
}
.Input-lowDensity {
  font-size: var(--typography-size-regular-low);
  min-height: var(--size-regular-low);
  padding: 0 var(--spacing-low);
}
.Input-mediumDensity {
  font-size: var(--typography-size-regular-medium);
  min-height: var(--size-regular-medium);
  padding: 0 var(--spacing-medium);
}
.Input-highDensity {
  font-size: var(--typography-size-regular-high);
  min-height: var(--size-regular-high);
  padding: 0 var(--spacing-high);
}
