.command-options {
  font-size: .8125rem;
}

.command-options-header {
  margin: 12px 0;
}

.command-options-tokens {
  color: inherit;
}

.command-options-token {
  display: flex;
  align-items: center;
}

.command-options-token-description {
    flex: 0 0 100px;
    text-align: right;
    white-space: nowrap;
}

.command-options-token-help {
  flex: 1 1 0;
  font-weight: bold;
}