.OrderBlotter {

}

.OrderBlotter .GridRow.even {
	background-color: #fff;
}

.OrderBlotter .GridCell:not(:last-child) {
  border-right-color: transparent;
}

.GridCell.order-status-ind .indicator{
  width: 12px;
  height: 12px;
  border-radius: 6px;
  position: relative;
  top:4px;
  border: solid 1px;
} 

.GridCell.order-status-ind .buy {
  background-color: limegreen;
  border-color: limegreen;
} 

.GridCell.order-status-ind .cancelled {
  background-color: white;
} 

.GridCell.order-status-ind .sell {
  background-color: red;
  border-color: red;
} 

.GridCell.order-status-ind .fill {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: blue;
  transform: scale(.6, 1) rotate(45deg);
} 
