.Tab {
  --bar-color: var(--grey90);
}
.jpmuitk-light .Tab {
  --tab-color: var(--grey400);
}

.jpmuitk-dark .Tab {
  --tab-color: var(--grey40);
}

.Tab-touchDensity {
  --tab-spacing: var(--spacing-touch);
}
.Tab-lowDensity {
  --tab-spacing: var(--spacing-low);
}
.Tab-mediumDensity {
  --tab-spacing: var(--spacing-medium);
}
.Tab-highDensity {
  --tab-spacing: var(--spacing-high);
}

.Tab {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: var(--tab-color);
  cursor: pointer;
  display: inline-flex;
  font-family: jpmuitk-sans;
  font-weight: var(--typography-weight-regular);
  font-size: 12px;
  margin: 0 var(--tab-spacing) 0 0;
  /* 2px padding bottom ? */
  padding: 0 var(--tab-spacing);
  position: relative;
}

.Tab-touchDensity {
  font-size: var(--typography-size-regular-touch);
  height: var(--size-stackable-touch);
}

.Tab-lowDensity {
  font-size: var(--typography-size-regular-low);
  height: var(--size-stackable-low);
}

.Tab-mediumDensity {
  font-size: var(--typography-size-regular-medium);
  height: var(--size-stackable-medium);
}

.Tab-highDensity {
  font-size: var(--typography-size-regular-high);
  height: var(--size-stackable-high);
}

.Tab-closeable {
  padding-right: 0;
}

.Tab-touchDensity .Tab-closeButton {
  margin-left: var(--spacing-touch);
}

.Tab-lowDensity .Tab-closeButton {
  margin-left: var(--spacing-low);
}

.Tab-mediumDensity .Tab-closeButton {
  margin-left: var(--spacing-medium);
}

.Tab-mediumDensity .Tab-closeButton {
  margin-left: var(--spacing-high);
}

/* override a Storybook sttle */
.Tab.button + .Tab.button {
  margin-left: 0;
}

.Tab[data-overflowed] {
  order: 99;
}

.Tab:not(.Tab-selected):hover {
  z-index: 1;
}

.Tab:hover:not(.Tab-closeHover) {
  background-color: var(--grey20);
}

.Tab:not(.Tab-selected):hover:after,
.Tab:not(.Tab-selected):focus-visible:after {
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  content: "";
  opacity: 1;
  position: absolute;
  background: var(--bar-color);
}

.Tab-selected {
  color: var(--grey900);
  font-family: jpmuitk-sans;
  font-weight: var(--typography-weight-bold);
}

.Tab:focus {
  outline: none;
}

.Tab:focus-visible {
  outline: none;
  background-color: var(--grey20);
}

.Tab-editing:before,
.Tab:focus-visible:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 2px;
  border: dotted cornflowerblue 2px;
}
.Tab .tab-close {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Tab .tab-close:hover {
  background-color: var(--grey40);
}

.Tab .tab-text {
  position: static;
  /* ensure content sita above focus ring */
  z-index: 1;
}

.Tab-closeable .tab-text {
  margin-right: 8px;
}

.Tab .tab-text:before {
  height: 0;
  content: attr(data-text);
  display: block;
  visibility: hidden;
  font-weight: 700;
}
