.Tabstrip {
  align-items: flex-start;
  box-sizing: border-box;
  height: var(--size-stackable-medium, 36px);
  position: relative;
  overflow: hidden;
  display: flex;
}

.Tabstrip-touchDensity {
  height: var(--size-stackable-touch);
}

.Tabstrip-lowDensity {
  height: var(--size-stackable-low);
}

.Tabstrip-mediumDensity {
  height: var(--size-stackable-medium);
}

.Tabstrip-highDensity {
  height: var(--size-stackable-high);
}

.Tabstrip-touchDensity .Tabstrip-addButton,
.Tabstrip-touchDensity .Tabstrip-overflowMenu {
  margin-left: var(--spacing-touch);
}

.Tabstrip-lowDensity .Tabstrip-addButton,
.Tabstrip-lowDensity .Tabstrip-overflowMenu {
  margin-left: var(--spacing-low);
}

.Tabstrip-mediumDensity .Tabstrip-addButton,
.Tabstrip-mediumDensity .Tabstrip-overflowMenu {
  margin-left: var(--spacing-medium);
}

.Tabstrip-highDensity .Tabstrip-addButton,
.Tabstrip-mediumDensity .Tabstrip-overflowMenu {
  margin-left: var(--spacing-hign);
}

.Tabstrip .Tabstrip-inner {
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
}
