.ListItem {
  color: var(--selectable-default-color);
  background: var(--selectable-default-background);
  text-align: var(--selectable-default-text-align);
  line-height: var(--typography-line-height);
  left: 0;
  right: 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
}

.ListItem:not(:last-of-type) {
  border-bottom: 1px solid var(--selectable-default-background);
}

.ListItem:last-child {
  border-bottom: none;
}

.ListItem.ListItem-highlighted:not(.ListItem-selected) {
  background: var(--selectable-active-background);
  cursor: pointer;
}
.ListItem-textWrapper {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ListItem-selected {
  color: var(--selectable-selected-color);
  background: var(--selectable-selected-background);
}
.ListItem-disabled {
  cursor: not-allowed;
  opacity: 0.7;
}
.ListItem-focusVisible:after {
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  content: "";
  position: absolute;
  outline-style: dotted;
  outline-width: 2px;
  outline-offset: 0;
}
.ListItem-focusVisible.ListItem-selected:after {
  outline-color: var(--white);
}
.ListItem-touchDensity {
  padding: 0 var(--spacing-touch);
  font-size: var(--typography-size-70);
}
.ListItem-lowDensity {
  padding: 0 var(--spacing-low);
  font-size: var(--typography-size-60);
}
.ListItem-mediumDensity {
  padding: 0 var(--spacing-medium);
  font-size: var(--typography-size-50);
}
.ListItem-highDensity {
  padding: 0 var(--spacing-high);
  font-size: var(--typography-size-40);
}
