.List {
  box-sizing: border-box;
  overflow-y: auto;
}
.List:focus {
  outline: none;
}

.List-wrapper:not(.List-borderless) {
  background: #ffffff;
  box-shadow: 0 6px 10px 0 rgba(0, 40, 88, 0.5);
  box-sizing: border-box;
  border-color: #2670a9;
  border-style: solid;
  border-width: 1px;
  border-radius: 0;
}
.List-wrapper {
  position: relative;
}
.List-borderless {
  border: none;
}
.List-disabled {
  cursor: not-allowed;
  opacity: 0.7;
}
