.ListItem {
  left: 0;
  color: #161616;
  right: 0;
  display: flex;
  position: relative;
  background: #ffffff;
  box-sizing: border-box;
  text-align: left;
  align-items: center;
  border-bottom: 1px solid #ffffff;
}

.ListItem:last-child {
  border-bottom: none;
}

.ListItem.ListItem-highlighted:not(.ListItem-selected) {
  background: #a4d5f4;
}
.ListItem-textWrapper {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ListItem-selected {
  color: #ffffff;
  background: #2670a9;
}
.ListItem-disabled {
  cursor: not-allowed;
  opacity: 0.7;
}
.ListItem-focusVisible:after {
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  content: "";
  position: absolute;
  outline-style: dotted;
  outline-width: 2px;
  outline-offset: 0;
}
.ListItem-focusVisible.ListItem-selected:after {
  outline-color: #ffffff;
}
.ListItem-touchDensity {
  padding: 0 16px 0 16px;
  font-size: 16px;
}
.ListItem-lowDensity {
  padding: 0 12px 0 12px;
  font-size: 14px;
}
.ListItem-mediumDensity {
  padding: 0 8px 0 8px;
  font-size: 12px;
}
.ListItem-highDensity {
  padding: 0 4px 0 4px;
  font-size: 11px;
}
